{% extends "base.html.twig" %}
{% block title %}Accueil | Actunews{% endblock %}
{% block body %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">ActuNews</h1>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <img src="{{ post.image }}" class="card-img-top"                            alt="{{ post.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.name }}</h5>
{#                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                            <a href="#" class="btn btn-primary">Lire la suite</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}